.journey {
  min-height: 100vh;
  background-color: #035D76;
  overflow: auto;
}

.journey__content {
  display: flex;
  gap: 70px;
  margin-block: 50px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .journey__content {
    flex-direction: column;
    gap: 20px;
  }
}

.journey__content p {
  max-width: 400px;
}

@media screen and (max-width: 600px) {
  .journey__content p {
    max-width: 300px;
  }
}

.journey__content h1 {
  max-width: 250px;
}

.journey__pdf {
  margin-bottom: 40px;
}

.btn-journey {
  margin-bottom: 100px;
  max-width: 300px;
  margin-inline: auto;
}
