@import url(./reset.css);

a:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.4;
}

h2 {
  font-size: 30px;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

.container {
  max-width: 1600px;
  margin-inline: auto;
}

@media screen and (max-width: 600px) {
  .container {
    margin-inline: 20px;
  }
}

.page {
  background-color: #E0E0E0;
}

.box {
  max-width: 350px;
  background-color: #ededed;
  padding: 40px 50px;
  border-radius: 10px;
  /*position: absolute;
  top: 40px;
  left: 70px;*/
  margin-top: 200px;
  margin-left: 0px;
}

@media screen and (max-width: 1600px) {
  .box {
    max-width: 300px;
    margin-top: 100px;
    margin-left: 200px;
  }
}

@media screen and (max-width: 1300px) {
  .box {
    max-width: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .box {
    margin-left: 65px;
  }
}

@media screen and (max-width: 600px) {
  .box {
    margin-inline: auto;
    margin-top: 40px;
    margin-bottom: 40px;

  }
}

.box__title {
  margin-bottom: 20px;
}

.box__subtitle {
  margin-bottom: 20px;
}

.btn {
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  background-color: #82BB50;
}

.header {
  background-color: #82BB50;
  position: sticky;
  top: 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 65px;
}

@media screen and (max-width: 600px) {
  .header .container {
    padding-inline: 0;

  }
}

.header__image {
  width: 125px;
}


.nav__list {
  display: flex;
  align-items: end;
  gap: 35px;
}

.nav__list-item {
  padding-block: 16px;
}

.nav__list .fa-caret-down {
  margin-left: 5px;
  font-size: 13px;
}

.dropdown__content .list__triangle {
  color: #f9f9f9;
  position: absolute;
  top: -18px;
  transform: rotate(180deg);
  font-size: 35px;
  left: 10px;
}

.nav__link,
.nav__list-item {
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 500;
}

.nav_link:hover {
  cursor: pointer;
}


.dropdown__item:hover {
  cursor: default;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  border-radius: 10px;
  top: 50px;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.dropdown__link {
  display: block;
  margin: 18px 12px 0 12px;
}

.dropdown__list:last-of-type {
  padding-bottom: 18px;
}

@media screen and (max-width: 830px) {
  .nav {
    display: none;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #82BB50;
    overflow: auto;
    padding-block: 55px;
    z-index: 100;
  }

  .nav__list {
    position: absolute;
    flex-direction: column;
    align-items: unset;
  }

  .nav__list-item:last-of-type {
    margin-bottom: 55px;
  }

  .dropdown__item {
    text-decoration: underline;
  }

  .dropdown__content {
    display: block;
    position: unset;
    background-color: transparent;
  }

  .dropdown__link {
    margin-inline: unset;
  }

  .fa-caret-down {
    display: none;
  }
}

.section {
  height: calc(100vh - 67px);
  overflow: auto;
}

.csa-section {
  background: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 800px) {
  .csa-section {
    background-position: left;
  }
}

@media screen and (min-height: 1000px) and (min-width:750px) and (max-height: 1200px) and (max-width: 850px) {
  .section {
    max-height: 600px;
  }
}

@media screen and (max-width: 600px) {
  .csa-section {
    background: unset;
    background-color: #035D76;
    height: unset;
    margin: 0;
  }
}

.resume-section {
  background: url("../images/resume-tip-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .resume-section {
    background: unset;
    background-color: #82BB50;
    height: unset;
  }
}

.resume-section .container {
  margin-inline: unset;
  margin-right: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .resume-section .container {
    display: block;
    margin-right: unset;
  }
}


.resume-section .box__btn {
  background-color: #035D76;
  color: white;
}

.discord-section {
  height: unset;
  overflow: unset;
  padding: 50px 65px;
}

.discord-section .container {
  display: flex;
  justify-content: center;
  gap: 60px;
}

@media screen and (max-width: 600px) {
  .discord-section .container {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.discord__title {
  margin-bottom: 27px;
}

.discord__desc {
  max-width: 400px;
  margin-bottom: 45px;
}

.discord__btn {
  max-width: 200px;
  margin-bottom: 30px;
}

.discord__images {
  display: flex;
  gap: 60px;
}

@media screen and (max-width: 900px) {
  .discord__images {
    display: none;
  }
}

.discord__lg-image,
.discord__sm-image {
  border-radius: 10px;
  object-fit: cover;
}

.discord__sm-image {
  max-height: 250px;
  max-width: 290px;
}

.discord__lg-image {
  max-width: 460px;
  object-position: -100px;
}

@media screen and (max-width: 600px) {
  .discord__lg-image {
    object-position: unset;
  }
}

.footer {
  background-color: #035D76;
  color: white;
  padding: 50px 65px;
}

.footer .container {
  display: flex;
  gap: 50px;
}

@media screen and (max-width: 600px) {
  .footer .container {
    flex-direction: column;
    text-align: center;
  }
}

.footer__list li:first-of-type:not(:last-of-type) {
  text-decoration: underline;
}

.footer__list li:not(:last-of-type) {
  margin-bottom: 20px;
}
